<form [formGroup]=form  (ngSubmit)="onSubmit()" class="bg-light">
  <div class="form-group" [ngClass]="{'text-danger':form.get('email').invalid && form.get('email').touched}" >
    <label for="exampleInputEmail1">Email address</label>
    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <span  class="form-help-text" *ngIf="form.get('email').invalid && form.get('email').touched"><span *ngIf="form.get('email') ['errors'] ['required']">Can't be empty</span>
    <span *ngIf="form.get('email') ['errors'] ['email']">Should enter correct e-mail</span> </span>
      
  </div>
  <div class="form-group" [ngClass]="{'text-danger':form.get('password').invalid && form.get('password').touched}">
    <label for="exampleInputPassword1">Password</label>
    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <span class="form-help-text"  *ngIf="form.get('password').invalid && form.get('password').touched"> 
      <span *ngIf="form.get('password') ['errors'] ['required']">Can't be empty</span>
      <span *ngIf="form.get('password') ['errors'] ['minlength'] ['requiredLength']">Symbols not enough</span>
    </span>
  </div>
  <div class=" d-flex justify-content-end">
      <a routerLink="../registration" class="card-link">Registration</a>
  </div>
  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Log in</button>
</form>