<div class="text-center mt-5" >
  <h1>Users list</h1>
  <div class="row">
    <div class="col-7">
        <div class="row justify-content-center">
            <div class="card bg-light m-2 col-5" *ngFor="let user of users">
                <div class="card-body">
                  <!-- <h5 class="card-title">Название карточки</h5> -->
                  <p class="card-text"> Name: {{user.fullName}}</p>
                  <p class="card-text"> Email: {{user.email}} </p>
                  <p class="card-text"> Role: {{user.role}}</p>
                  <button type="button" class="btn btn-primary mr-2" (click)="deleteUser(user._id)">Delete</button>
                 
                  <button type="button" class="btn btn-primary mr-2" (click)="editUser(user._id)">Edit</button>
                </div>
              </div>
        </div>
        
    </div>
    <div class="col-5">
        <app-add-user ></app-add-user>
    </div>
  </div>
  
</div>
