<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-dark bg-dark col-12">
            <a class="navbar-brand" href="#">
              <img src="https://i.pinimg.com/236x/1b/45/d1/1b45d16ef05586efc45af2190c723278--library-logo-garfield.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
              My library
            </a>
          </nav>
    </div>
     <div class="row justify-content-center align-items-center">
        <div class="card col-md-4 m-3 bg-light">
            <div class="card-body">
                <h2 class="card-title text-center">Welcome </h2>
                <router-outlet></router-outlet>
            </div>
        </div>        
    </div>
    <footer class="page-footer font-small bg-dark fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> Vladislava_9009</a>
        </div>
        <!-- Copyright -->
      
      </footer>
</div>