<form class="bg-light" [formGroup]=form  (ngSubmit)="onSubmit()">
    <div class="form-row" [ngClass]="{'text-danger':form.get('fullName').invalid && form.get('fullName').touched}">
      <div class="form-group col-md-12">
          <label for="inlineFormInputFirstName">Full Name</label>
          <input formControlName="fullName" type="text" class="form-control" id="inlineFormInputFirstName" placeholder="Jane ">
      </div>
      
    </div>
    <div class="form-group" [ngClass]="{'text-danger':form.get('email').invalid && form.get('email').touched}" >
        <label for="inputEmail4">Email</label>
        <input formControlName="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group" [ngClass]="{'text-danger':form.get('password').invalid && form.get('password').touched}">
        <label for="inputPassword4">Password</label>
        <input formControlName="password" type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
    <div class="form-row">
     
    </div>
   
    <button [disabled]="form.invalid" type="button" type="submit" class="btn btn-primary">Add new user</button>
  </form>
