<div class="container-fluid">
    <div class="row ">
            <nav class="navbar col-12 bg-dark">
                    <a class="navbar-brand" routerLink="">
                      <img src="https://i.pinimg.com/236x/1b/45/d1/1b45d16ef05586efc45af2190c723278--library-logo-garfield.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                      My library
                    </a>
                    <div>
                      <a class="navbar-brand" routerLink="">
                        Hello, {{user.fullName}}!
                      </a>
                      <button type="button" class="btn btn-primary" (click)="onLogout()">Log out</button>
                      
                    </div>
            </nav>     
    </div>
    <div class="row">
      <div class="col-2 sidebar">
        <div class="list-group mt-5 m-3">
                <a routerLink="users" class="list-group-item list-group-item-action">Users</a>
          
        </div>
        <div class="list-group mt-5 m-3">
                <a routerLink="users" class="list-group-item list-group-item-action">Books</a>
        </div>
        <div class="list-group mt-5 m-3">
                <a routerLink="users" class="list-group-item list-group-item-action">Authors</a>
        </div>
       
      </div>
    <div class="col-10">
        
        <router-outlet ></router-outlet>
    </div>
  </div>
           
    
        
        <footer class="page-footer font-small bg-dark fixed-bottom">

          
          <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="#"> Vladislava_9009</a>
          </div>
         
        
        </footer>
</div>