<div class="container-fluid">
  
  <div class="d-flex justify-content-center  mt-5">
    <form class="" >
        <h3>Proffile settings</h3>
        <div class="form-group form-row">
            <div class="col-6">
              <input type="text" class="form-control" placeholder="{{user.fullName}}" readonly>
            </div>
            <div class="col-6">
              <input type="text" class="form-control" placeholder="New name">
            </div> 
        </div>
      <div class="form-group form-row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="{{user.email}}" readonly>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="New Email">
          </div> 
      </div>
      <div class="form-group mt-3" >
         
        
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
       
      </div>
      
      
      
      <button  type="submit" class="btn btn-primary">Save changes</button>
    </form>

  </div>
</div>